

.main{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



/* banner section styles */
.banner{
    background-image: url('../Assets/Hero-bg.png');
    padding: 50px 150px 0 150px;
}
.banner-title{
    display: flex;
    justify-content: space-between;
}

.banner-title h1 img{
    width: 250px;height: 50px;
    /* color: blueviolet;
    font-size: 34px;
    font-weight: bold; */

}
.banner-description{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    padding: 158px 268px 237px 268px ;

}
.btn-primary{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 36px 12px 36px;
    background-color: blueviolet;
    border-radius: 5px;
    width: 180px; height:50px;
    margin-top: 15px;
    border: none;
}
.btn-primary:hover{
    background-color: orange;
}

/* action section styles */
.action-section{
    display: flex;
    justify-content: space-between;
    padding: 116px 141px 116px 160px;
}

.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.action-description{
    font-size: 24px;
    font-weight: 400;
    color: rgba(37, 36, 50, 0.5);
    margin: 23px 220px 23px 0px;
    padding-right: 150px;
}

.btn-primary-1{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 36px 12px 36px;
    background-color: blueviolet;
    border-radius: 5px;
    width: 235px; height:50px;
    border: none;
}
.btn-primary-1:hover{
    background-color: orange;
}

.action-img{
    border-radius: 48px;
}

/* user section styles */

.user-section{
    background-color: #dddcdf;
    border-radius: 24px;
    margin: 116px 160px 137px 140px;
    padding: 50px 142px 50px 142px;

}

.user-title{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}

.user-description{
    display: flex;
    justify-content: space-around;
}
.user-number h1{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0px;
}
.user-number p{
    font-size: 20px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0px;
}

/* review section styles */

.review-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin-bottom: 0px;
}

.all-reviewer{
    display: flex;
    justify-content: space-around;
    margin: 50px 160px 137px 140px;
    gap: 20px;
}

.reviewer{   
    background-color: #fbf7f7;
    border-radius: 14px;
    padding: 24px;
    margin: 0px;
    text-align: left;
}
.reviewer-details{
    display: flex;
    gap: 12px;
}

.reviewer-details img{
    width: 40px;height: 40px;
    border-radius: 9999px;
}
.name{
    font-size: 25px;
    font-weight: 500;
    color: #757575;
    margin: 0px;
}
.date{
    font-size: 20px;
    font-weight: normal;
    color: #B3B3B3;
    margin: 0px;
}
/* touch section styles */
.touch-section{
    display: flex;
    justify-content: space-between;
    margin: 116px 160px 137px 140px;
    gap: 115px;
    padding: 71px 0px 71px 0px ;
}

.left-section{
    font-size: 97px;
    font-weight: bold;
    color: #000000;
    width: 528px;height: 232px;
    margin: 129px 0px 129px 0px;
}

.right-section{
    border-style: none;
}

.r-title{
    font-size: 18px;
    font-weight: 300;
    margin: 15px;
    text-align: left;
    color: #000000;
    padding: 0px;
}
.form-section{
    width: 497px; height: 70Px;
    font-size: 20px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
    background-color: #f0e6e6;
    border-radius: 10px;
    padding-left: 32px;
    margin: 0px;
    border: none;
}
.text-area{
    width: 470px; height: 135Px;
     font-size: 20px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
    background-color: #f0e6e6;
    border-radius: 10px;
    padding: 20px 32px;
    border: none;
}

.btn-primary-2{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 19px 101px 19px 101px;
    background-color: blueviolet;
    border-radius: 10px;
    width: 538px; height:62px;
    margin-top: 19px;
    border: none;

}

.btn-primary-2:hover{
    background-color: orange;
}

/* footer section styles */
footer{
    background-color: #f9e7e7;
}
.footer-section{
    text-align: center;
    padding: 104px 455px 103px 454px;
    margin-top: 14px;
}
.footer-title{
    font-size: 100px;
    font-weight: bolder;
    color: #4E47FF;
    margin-bottom: 0px;
}

.flow{
    color: darkorange;
}

.footer-subtitle{
    font-size: 22px;
    font-weight: normal;
    color: #8987A1;
}
nav ul li a{
    text-decoration: none;
    background-color: #4E47FF;
    color: #FFFFFF;
    padding: 5px;
}
nav ul li a:hover{
    background-color: chocolate;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: #8987A1;
}